
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  line-height: 1.6;
}

/* Container*/
.container {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%;
  text-align: center;
}


h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 30px;
}

/* Input*/

input[type="text"] {
  width: calc(100% - 20px);
  padding: 18px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

/* Button*/

button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

/*List*/
ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f9f9f9;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f1f1f1;
}

li.completed {
  text-decoration: line-through;
  color: #440808;
}

/*Delete Button*/

button.delete {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.delete:hover {
  background-color: #7a0a16;
}